<html>
<body>
<h1 th:text="#{label.form.title}">form</h1>
<form th:action="@{/registration}" th:object="${userModel}" method="POST" enctype="utf8">
    <div>
        <label th:text="#{label.user.username}">username</label>
        <input type="text" th:field="*{username}"/>
    </div>
    <div>
        <label th:text="#{label.user.password}">password</label>
        <input type="password" th:field="*{password}"/>
    </div>
    	<input type="hidden" th:field="*{id}"/>
    	<input type="hidden" th:field="*{enabled}"/>
    	
    <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
 
<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>
</body>
</html>